In [37]:
import pandas as pd

In [38]:
equity_code = 2331010

In [39]:
# get data for actual figures
df = pd.read_csv('TRA_OTH.csv')
df = df[df['Scenario'] == 1]
df = df[df['Item'] == equity_code]
df['Amount'] = df['Amount'].astype(float)
df = df.sort_values(by=['Amount'])

/var/folders/c9/mdyn5q915qzdd068w6dx1gbm0000gp/T/ipykernel_95883/3445877733.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('TRA_OTH.csv')

In [40]:
df.to_excel('bank_equity_data.xlsx')

In [14]:
# data
loans_public = 345743 * 10 ** 6
equity = 27154.31253864 * 10 ** 6

In [16]:
df[df.Bank_name.str.contains('Nordea')]

,Country_code,LEI_Code,Bank_name,Period,Item,Scenario,Fact_char,Amount,Footnote
29230,FI,529900ODI3047E2LIV03,Nordea Bank Abp,202212,2331010,1,NaN,27154.31253864,NaN

In [31]:
df

,Country_code,LEI_Code,Bank_name,Period,Item,Scenario,Fact_char,Amount,Footnote
20464,DK,GP5DT10VX1QRQUKVBK64,Sydbank A/S,202212,2331010,1,NaN,1509.774500,NaN
63320,SE,549300C6TUMDXNOVXS82,Länsförsäkringar Bank AB (publ),202212,2331010,1,NaN,1858.412114,NaN
64294,SE,H0YX5LBGKDVOWCXBZ594,SBAB Bank AB – group,202212,2331010,1,NaN,2291.936459,NaN
3906,DE,5299007S3UH5RKUYDA52,Deutsche Apotheker- und Ärztebank eG,202212,2331010,1,NaN,2437.051781,NaN
57476,NL,724500A1FNICHSDF2I11,de Volksbank N.V.,202212,2331010,1,NaN,3398.892597,NaN
...,...,...,...,...,...,...,...,...,...
36048,FR,9695000CG7B84NLR5984,Confédération Nationale du Crédit Mutuel,202212,2331010,1,NaN,62684.060417,NaN
33126,FR,FR9695005MSX1OYEMGDF,Groupe BPCE,202212,2331010,1,NaN,69664.899296,NaN
27282,ES,5493006QMFDDMYWIAM13,"Banco Santander, S.A.",202212,2331010,1,NaN,83032.867779,NaN
32152,FR,R0MUWSFPU8MPRO8K5P83,BNP Paribas S.A.,202212,2331010,1,NaN,103444.412508,NaN
35074,FR,FR969500TJ5KRTCJQWXH,Groupe Crédit Agricole,202212,2331010,1,NaN,107065.030560,NaN